:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


.login-container {
  min-height: calc(100vh - 72px); 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 72px; 
}


.hover-shadow {
  transition: box-shadow 0.3s ease;
}

.hover-shadow:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.card {
  border: none;
  border-radius: 10px;
}

.btn {
  border-radius: 5px;
  padding: 8px 16px;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}


header h1 {
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


h2 {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
}